{% extends 'base_accounts.html' %}
{% block title %} ایجاد حساب کاربری {% endblock %}
{% block content %}
    <h4> ایجاد حساب کاربری جدید </h4>
    <form enctype="multipart/form-data" action='' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6Lc9ZWUdAAAAAOZJ71vfzB4MSnkGkbkxVif_1B90"></div>
        <input type='submit' class='btn btn-primary' value='ثبت'>
    </form>
{% endblock %}